.palces {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.places > h1{
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 30px;
}

.places > article > h2 {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.places > h2 {
    font-size: 30px;
    margin-top: 0;
}